# Archivos de Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Archivos de Jupyter Notebook
.ipynb_checkpoints/
*.nbconvert.ipynb

# Archivos de Miniconda y venv
env/
venv/
.venv/
*.conda
*.env

# Archivos de datos locales
*.csv
*.tsv
*.json
*.parquet
*.db
*.sqlite
*.h5

# Configuración de sistema
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs y temporales
*.log
*.tmp
*.bak
